<!DOCTYPE html>
<html lang="en">

<head>
    <title>abu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body>
    <!-- <div ng-app="">
        <p>Name:
            <input type="text" ng-model="name">
        </p>
        <p>Hello {{name}}</p>
    </div> -->
    <!-- <div ng-app="">
        <p>Name:
            <input type="text" ng-model="name">
        </p>Hello
        <label ng-bind="name"></label>
    </div> -->
    <!-- <div ng-app="" ng-init="firstName='abu'">
        <p>My name is:
            <span data-ng-bind="firstName"></span>
        </p>
    </div> -->
    <!-- <div data-ng-app="" data-ng-init="firstName='abu'">
        <p>My name is:
            <span data-ng-bind="firstName"></span>
        </p>
    </div> -->
    <!-- <div data-ng-app="">
        {{5 + 5}}
    </div> -->
    <!-- <div data-ng-app="myApp" data-ng-controller="myCtrl">
        <p>First name:
            <input type="text" data-ng-model="firstName">
        </p>
        <p>Last name:
            <input type="text" data-ng-model="lastName">
        </p>
        <p>Full name: {{firstName + " " + lastName}}</p>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = 'abu'; //default value of input filed with ng-model firstName
            $scope.lastName = 'almo'; //default value of input filed with ng-model lastName
        });
    </script> -->
    <!--bez data-ng-app = ili ng-data = expression nece radit...samo ce ih ispisat kako i jesu  bez rjesavanja-->
    <!-- <div data-ng-app="" data-ng-init="color = 'blue'">
        <input style="background-color: {{color}}" data-ng-model="color" value="{{color}}">
    </div> -->
    <!-- <div data-ng-app="" data-ng-init="quantity = 2; cost = 10">
        <p>{{quantity * cost}}</p>
    </div> -->
    <!-- <div data-ng-app="" data-ng-init="quantity = 2; cost = 10">
        <p data-ng-bind="quantity * cost"></p>
    </div> -->
    <!-- <div data-ng-app="" data-ng-init="person = {firstName: 'abu', lastName: 'almo'}">
        <p>Name: {{person.firstName}}</p>
        Surname:
        <label data-ng-bind="person.lastName"></label>
    </div> -->
    <!-- <div data-ng-app="" data-ng-init="points= [1,2,3,4,5]">
        <p>First point is {{points[0]}}</p>
        Last point is
        <label data-ng-bind="points[4]"></label>
    </div> -->
    <!-- <div data-ng-app="myApp" data-ng-controller="myCtrl">
        My full name is:
        <label data-ng-bind="myN + ' ' + myS "></label>
        <br>
        <br>
        <input type="text" data-ng-model="yourN">
        <input type="text" data-ng-model="yourS">
        <p>Your full name is: {{yourN + " " + yourS}}</p>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.myN = 'abu';
            $scope.myS = 'almo';
        });
    </script> -->
    <!-- <div data-ng-app="myApp" abu-add-directive></div>
        abu-add-directive = <abu-add-directive></abu-add-directive> = class= "abu-add-directive" (restrict : "C", for classes)  = komentar abu-add-directive (restrict : "M", replace : true, for comment)

        restrict : "A", for attribute
        restrict: 'E', for element name (tag)

    <script>
        var app = angular.module('myApp', []);
        app.directive('abuAddDirective', function () {
            return {
                template: "<h1>juhuuu</h1>"
            };
        });
    </script> -->
    <!-- <div data-ng-app="" data-ng-init="quantity = 2; cost = 10">
        <p>Quantity:
            <input type="number" data-ng-model="quantity">
        </p>
        <p>Cost:
            <input type="number" data-ng-model="cost">
        </p>
        <p>Total price is: {{ quantity * cost }}</p>
    </div> -->
    <!--  <div data-ng-app="" data-ng-init="names = ['abu', 'oba', 'dudo']">
        <ul>
            <li data-ng-repeat="allNames in names">
                {{ allNames }}
            </li>
        </ul>
    </div> -->
    <!-- <div data-ng-app="" data-ng-init="names = [
        {name:'abu',country:'bosna'},
        {name:'dudo',country:'bosna'},
        {name:'oba',country:'bosna'}]">

        <ul>
            <li data-ng-repeat="data in names">
                <p>
                    <span data-ng-bind="data.name"> </span> lives in
                    <span data-ng-bind="data.country"></span>
                </p>
            </li>
        </ul>

        <ul>
            <li data-ng-repeat="data in names">
                {{data.name + " " + data.country}}
            </li>
        </ul>

    </div> -->
    <!-- <div ng-app="myApp" ng-controller="myCtrl">
        Enter your name:
        <input type="text" ng-model="name">
        <h1>You entered: {{name}}</h1>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.name = 'abu almo';
        });
    </script> -->
    <!--
    <form ng-app="" name="form">
        <label>Enter your email: </label>
        <input type="email" name="email" ng-model="text">
        <!--zasto ide ng-model = "text"
    <span ng-show="form.email.$error.email">Please enter a valid email address</span>
    </form> -->

    <!-- <form ng-app="" name="form" ng-init="text = 'abud_almonajed@hotmail.com'">
        <label>
            Your email:
        </label>
        <input type="email" ng-model="text" name="email" required>
        <h1>Status</h1>
        <p>
            Valid {{form.email.$valid}} (if true, the value meets all criteria)
        </p>
        <p>
            Dirty {{form.email.$dirty}}(if true, the value has been changed).
        </p>
        <p>
            Touched {{form.email.$touched}}(if true, the field has been in focus)</p>
    </form> -->

    <!-- <style>
        input.ng-valid {
            background-color: green;
        }

        input.ng-invalid {
            background-color: red;
        }
    </style>

    <form ng-app="" name="myForm">
        Enter your name:
        <input name="myName" ng-model="myText" required>
    </form> -->

    <!-- <div data-ng-app="myApp" data-ng-controller="myCtrl">
        <h2>{{firstName}}</h2>
        <button ng-click="changeName();">Click me</button>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = 'abu';
            $scope.changeName = function () {
                if ($scope.firstName == 'abu') {
                    $scope.firstName = 'almo';
                } else {
                    $scope.firstName = 'abu';
                }
            }
        });
    </script> -->

    <!-- <div data-ng-app="myApp" data-ng-controller="myCtrl">
        <input type="text" placeholder="Enter your name" data-ng-model="firstName">
        <input type="text" placeholder="Enter your surname" data-ng-model="lastName">
        <button ng-click="full();">Click</button>
        <br> Full name: {{fullName()}}
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = 'abu';
            $scope.lastName = 'almo';
            $scope.full = function () {
                $scope.fullName = function () {
                    return $scope.firstName + " " + $scope.lastName;
                }
            }
        });
    </script> -->

</body>

</html>